.padding-top-10 {
  padding-top: 10px;
}

.padding-rl {
  padding: 0px 5px;
}

.align {
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.display-flex {
  display: flex;
  flex-direction: row;
}

.button-black {
  background-color: black;
  border-color: black;
}
.button-black.button-clear,
.button-black.button-outline {
  background-color: transparent;
  color: black;
}
.button-black.button-clear {
  border-color: transparent;
}

.button-small {
  font-size: 0.8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}

#sign_btn:hover {
  cursor: pointer;
}

.panel-body {
  padding: 15px;
  padding-top: 8%;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 70px;
  font-weight: bold;
  margin: 25px;
  color: #585858;
  word-wrap: break-word;
}

.subtitle {
  font-size: 25px;
}

.space {
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.row img {
  width: 300px;
  height: 249px;
}

.row div {
  width: 500px;
  text-align: left;
  margin-left: 50px !important;
}

.description {
  margin-left: 10px;
  margin-right: 10px;
  line-height: 2;
}

.privacy {
  text-align: center;
  padding: 119px 0 30px 0;
}

.privacy-font {
  color: #383838;
  font-size: 20px;
}

.mask {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  transition: ease-in 0.5s;
  padding: 60px 30px;
  z-index: 100;
  overflow: hidden;
}

.modal-login {
  position: relative;
  display: none;
  width: 500px;
  height: 620px;
  border-radius: 10px;
  background-color: white;
  transition: ease-in 0.5s;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 200;
}

.modal-signup {
  position: relative;
  display: none;
  width: 500px;
  height: 620px;
  border-radius: 10px;
  background-color: white;
  transition: ease-in 0.5s;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 200;
}

@media only screen and (max-width: 576px) {
  .modal-login {
    width: 400px;
    height: 640px;
  }

  .modal-signup {
    width: 400px;
  }

  .display-flex {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 481px) {
  .modal-login {
    width: 300px;
    height: 660px;
  }

  .modal-signup {
    width: 300px;
  }

  .display-flex {
    flex-wrap: wrap;
  }

  .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 383px) {
  .modal-login {
    width: 100%;
    height: 700px;
  }

  .modal-signup {
    width: 100%;
  }

  .display-flex {
    flex-wrap: wrap;
  }

  .mask {
    padding: 60px 0px;
  }

  .title {
    font-size: 40px;
  }
}

.close-button {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 16px;
  font-weight: bold;
}

.close-button :hover {
  cursor: pointer;
}

.modal-header {
  padding-top: 30px;
  text-align: center;
}

.modal-body {
  padding: 0px 30px;
}

.font-bold {
  font-weight: bold;
}

.reg-title {
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
}

.width-100-pro {
  width: 100%;
}

.bg-section {
  position: relative;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.foodies-logo {
  background-image: url(../img/tpbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 249px;
  margin: 0 auto;
}
